# --- Selenium / navegador ---
# SELENIUM_HEADLESS=False
# CHROMIUM_BINARY_PATH=C:\ruta\a\chrome.exe
# CHROME_DRIVER_PATH=C:\ruta\a\chromedriver.exe

# --- Banco Nacional de Crédito (0191) ---
# Si alguna no está definida, el servicio la solicita por consola al ejecutar la consulta.
BNC_URL=https://personas.bncenlinea.com/
BNC_CARD_NUMBER=0000000000000000
DNI=00000000
BNC_PASS=clave_bncnet

# --- Bancamiga (0172) ---
BANCAMIGA_URL=https://www.bancamiga.com/
BANCAMIGA_USER=usuario
BANCAMIGA_PASS=clave
